/****************************************
 * Prototype CTMR metagenomics workflow
 * ------------------------------------
 * Default configuration file for CPW
 * All environment-specific configurations
 * are stored in the 'conf' folder and
 * imported under profile names here.
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/


profiles {
    local_refseq {
        includeConfig 'conf/local_refseq.config'
    }
    local_proGenomes {
        includeConfig 'conf/local_proGenomes.config'
    }
    milou_refseq {
        includeConfig 'conf/milou_refseq.config'
    }
    milou_progenomes {
        includeConfig 'conf/milou_proGenomes.config'
    }
}

manifest {
    homePage = 'https://github.com/ctmrbio/cpw'
    description = '''Metagenomics analysis workflow for taxonomic, functional, 
                     and antibiotic resistance gene profiling.'''
    mainScript = 'cpw.nf'
}
