/****************************************
 * Metagenomics workflow
 * ------------------------------------
 * All environment-specific configurations
 * are stored in the 'conf' folder and
 * imported under profile names here.
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/


profiles {
    UPPMAX_rackham {
        includeConfig 'conf/UPPMAX_rackham.config'
    }
}


manifest {
    homePage = 'https://github.com/ctmrbio/metagenome_pipeline'
    description = '''Metagenomics analysis workflow for taxonomic and functional profiling.'''
    mainScript = 'main.nf'
}
