/****************************************
 * Prototype CTMR metagenomics workflow
 * ------------------------------------
 * Default configuration file for CPW
 * All environment-specific configurations
 * are stored in the 'conf' folder and
 * imported under profile names here.
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/


profiles {
    milou_proGenomes {
        includeConfig 'conf/milou_proGenomes.config'
    }
    milou_refseq {
        includeConfig 'conf/milou_refseq.config'
    }
}

manifest {
    homePage = 'https://github.com/ctmrbio/wellness_wgs'
    description = '''Metagenomics analysis workflow for taxonomic and functional profiling.'''
    mainScript = 'main.nf'
}
