/****************************************
 * Prototype CTMR metagenomics workflow
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

params {
    project = 'b2016210'
    outdir = './cpw_refseq'
    input_reads = '' // Specify on command line as: --input_reads path/to/reads*{1,2}.fq
    kraken_db = "/proj/nobackup/b2016371/db/kraken/refseq/"
    kraken_filter_threshold = 0.15
    bracken_kmer_distribution = '/proj/nobackup/b2016371/db/kraken/refseq/database.100mers.distribution.txt'
    bracken_classification_level = 'S'
    bracken_threshold = 10
    kaiju_db = '/proj/nobackup/b2016371/db/kaiju/nr_euk/kaiju_db_nr_euk.fmi'
    kaiju_nodes = '/proj/nobackup/b2016371/db/kaiju/nr_euk/nodes.dmp'
    kaiju_names = '/proj/nobackup/b2016371/db/kaiju/nr_euk/names.dmp'
    taxonomic_merge_order = "kraken,kaiju"
    bbmap_igc_dir = '/proj/nobackup/b2016371/db/IGC'
    bbmap_minid = 0.9
    paladin_db = '/proj/nobackup/b2016371/db/paladin/uniprot_sprot/uniprot_sprot.fasta.gz'
    clusterOptions = false
}

env {
    PATH = ["/proj/b2016371/anaconda3/bin",
            "/proj/b2016371/src/bbmap",
            "/proj/b2016371/bin",
            '$PATH'].join(":")
}

process {
    executor = 'slurm'
    clusterOptions = {
        "-A ${params.project}" + (params.clusterOptions ?: '')
    }
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'finish'}
    maxRetries = 2
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'
    
    // Resource and module requirements for processes
    $kaiju {
        cpus = 11
        memory = 88.GB 
        time = {40.m * task.attempt}
    }
    $kraken {
        module = ['bioinfo-tools', 'Kraken/0.10.5-beta']
        cpus = 10
        memory = 80.GB  
        time = {1.h * task.attempt}
    }
    $braken {
        cpus = 1
        memory = 8.GB
        time = {1.h * task.attempt}
    }
    $bracken {
        cpus = 1
        memory = 8.GB
        time = {10.m * task.attempt}
    }
    $merge_kaiju_kraken {
        cpus = 1
        memory = 8.GB
        time = {20.m * task.attempt}
    }
    $summarize_taxonomic_profile {
        cpus = 1
        memory = 8.GB  // Actually uses ~150-200 MB
        time = {10.m * task.attempt}
    }
    $bbmap_igc {
        cpus = 12
        memory = 96.GB 
        time = {5.h * task.attempt}
    }
    $paladin_uniprot {
        cpus = 10
        memory = 80.GB
        time = {2.h * task.attempt}
    }
}
