/****************************************
 * Prototype CTMR metagenomics workflow
 * Copyright (c) Authors 2017 
 * Authors:
 *  Fredrik Boulund <fredrik.boulund@ki.se>
 ****************************************/

params {
    project = 'b2016371'
    outdir = './cpw_proGenomes'
    input_reads = '' // Specify on command line as: --input_reads path/to/reads*{1,2}.fq
    kraken_db = 'proGenomes'
    kraken_filter_threshold = 0.15
    kaiju_db = '/pica/v8/b2016371_nobackup/db/kaiju/proGenomes/kaiju_db.fmi'
    kaiju_nodes = '/pica/v8/b2016371_nobackup/db/kaiju/proGenomes/nodes.dmp'
    kaiju_names = '/pica/v8/b2016371_nobackup/db/kaiju/proGenomes/names.dmp'
    taxonomic_merge_order = "kraken,kaiju"
    bbmap_igc_dir = '/pica/v8/b2016371_nobackup/db/IGC'
    bbmap_minid = 0.95
    clusterOptions = false
}

env {
    KRAKEN_DB_PATH = "/proj/nobackup/b2016371/db/kraken"
    PATH = ["/proj/b2016371/anaconda3/bin",
            "/proj/b2016371/src/bbmap",
            "/proj/b2016371/bin",
            '$PATH'].join(":")
}

process {
    executor = 'slurm'
    clusterOptions = {
        "-A ${params.project}" + (params.clusterOptions ?: '')
    }
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'finish'}
    maxRetries = 2
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'

    // Resource and module requirements for processes
    $kaiju {
        cpus = 8
        memory = 64.GB  // Documentation says about 13GB for proGenomes
        time = {40.m * task.attempt}
    }
    $kraken {
        // Milou logs indicate practically no memory usage,
        // but running with less than 10 cores kills the 
        // process due to exceeding memory limit.
        module = ['bioinfo-tools', 'Kraken/0.10.5-beta']
        cpus = 13
        memory = 200.GB  
        time = {2.h * task.attempt}
		clusterOptions = "-A ${params.project} -C mem256GB"
    }
    $merge_kaiju_kraken {
        cpus = 1
        memory = 8.GB
        time = {10.m * task.attempt}
    }
    $summarize_taxonomic_profile {
        cpus = 1
        memory = 8.GB  // Actually uses ~150-200 MB
        time = {10.m * task.attempt}
    }
    $bbmap_to_igc {
        cpus = 10
        memory = 80.GB  // Actually uses about 50 GB
        time = {2.h * task.attempt}
    }
}
